---
layout: default
bodyClass: "page-teams"
---

<div class="intro{% unless page.intro_image %} intro-small{% endunless %}">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ content }}
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container pt-6 pb-6">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            {% assign role_keys = "PI|researcher|postdoc|master's student" | split: "|" %}
            {% assign role_titles = "Principal Investigator|Researchers|Postdocs|Master's Students" | split: "|" %}
            {% for role in role_keys %}
            {% assign members = site.team | where: "jobtitle", role | sort: "lastname" %}
            {% if members.size > 0 %}
            <div class="{% unless forloop.first %}mt-5{% endunless %}">
                <h2>{{ role_titles[forloop.index0] }}</h2>
                {% for member in members %}
                <div class="team team-summary mb-2">
                    <div class="team-meta">
                        <h3 class="team-name"><a href="{{ member.url | relative_url }}">{{ member.title }}</a></h3>
                    </div>
                    {% capture member_excerpt %}{{ member.excerpt }}{% endcapture %}
                    {% assign member_excerpt = member_excerpt | strip %}
                    {% if member_excerpt != "" %}
                    <div class="team-content">{{ member_excerpt }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
